{% extends "account/email_confirmation_base.html" %}
{% load account %}
{% load i18n %}

{% block content %}{% autoescape off %}
{% user_display user as user_display %}
{% blocktrans with site_name=current_site.name site_domain=current_site.domain %}
<p>You're receiving this e-mail because you created an account on {{ site_domain }} with us, using
  username {{ user_display }}. </p>

<p>Please go to the following page and confirm your e-mail address:

  <a href="{{ activate_url }}">
    confirmation link
  </a>
</p>

<div class="" style='margin: 16px;'>
  <a href="{{ activate_url }}"
    style='padding: 12px 24px; background-color: #10b981; color: #fff; border-radius: 9999px; text-decoration: none; font-weight: bold; cursor: pointer; '>
    Confirmation Link
  </a>
</div>

<p>
  If none of the above works, please copy and paste the following link into your browser:
  {{ activate_url }}
</p>
{% endblocktrans %}
{% endautoescape %}
{%endblock %}